{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        // 适配浏览器: 市场份额>1%的, 最后的两个版本, 并且不适配ie8及以下的版本
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    // ES阶段: 转化仅针对第二阶段的ES进行转化
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
