<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoppingCartDemo</title>
    <script src="../vue.js" type="text/javascript"></script>
</head>
<body>
    <div id="app">
        <table>
            <caption align="top">
                <th></th>
                <th>商品名称</th>
                <th>添加时间</th>
                <th>数量</th>
                <th>价格</th>
                <th>操作</th>
            </caption>
            <tr v-for="goodObj in ShoppingCart">
                <td v-for="value in goodObj">{{value}}</td>
            </tr>
        </table>
        <form>
            <h4>增加新商品:</h4>
            <input type="text" v-model="goodsName" value="商品名称">
            <input type="text" v-model="addCartTime" value="添加时间">
            <input type="text" v-model="amount" value="数量">
            <input type="text" v-model="price" value="价格">
            <button @click="addNewGoodsIntoShoppingCart">add</button>
        </form>
    </div>
    <script>
        let app = new Vue({
            el:"#app",
            data:{
                ShoppingCart:[
                    
                ]
                goodsName:"",
                addCartTime:"",
                amount:1,
                price:0
            },
            methods:{
                addNewGoodsIntoShoppingCart(goodsName,addCartTime,amount=1,price="0"){
                    createNewGoods(this.goodsName,this.addCartTime,this.amount,this.price)
                },
                createNewGoods(goodsName,addCartTime,amount=1,price="0"){
                    this.goodsName = goodsName;
                    this.addCartTime = addCartTime;
                    this.amount = amount;
                    this.price = "￥" + price;
                    this.operation = "";
                }
            }
        })
    </script>
</body>
</html>